<h2>New customer form</h2>
<form #customerForm="ngForm" (ngSubmit)="createCustomer(customerForm)">
  <label for="type">Type</label>
  <select name="type" required #type="ngModel" ngModel [(ngModel)]="newCustomer.type">
    <option [ngValue]="undefined" selected disabled>Please Choose...</option>
    <option *ngFor="let type of types">{{type}}</option>
  </select>
  <small *ngIf="type.invalid">Please select customer type</small>
  <label for="name">Name</label>
  <input type="text" name="name" ngModel required minlength="5" placeholder="Please enter name"  #name="ngModel" [(ngModel)]="newCustomer.name" />
  <small *ngIf="name.invalid">Please enter a valid name - minimum length is 5 characters</small>
  <button type="submit" [disabled]="customerForm.invalid">Add Customer</button>
</form>

<h2>Customers list</h2>
<table spacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of (customers$ | async)">
      <td>{{customer.name}}</td>
      <td>{{customer.type}}</td>
      <td>
        <a [routerLink]="['/customer', customer.id]">Open</a>
      </td>
    </tr>
  </tbody>
</table>
